<!--
	POLYMER-NOTE

	DESCRIPTION:
		- `polymer-note` is a UI element for creating and managing a note.

	EXAMPLE:
		<polymer-note id="note"></polymer-note>
		...
		var note = this.$.note;

	@element polymer-note
	@status unstable
-->

<!-- POLYMER -->
<link rel="import" href="../../bower/polymer/polymer.html">

<!-- COMPONENTS -->
<link rel="import" href="../polymer-editor/polymer-editor.html">
<link rel="import" href="../polymer-print/polymer-print.html">
<link rel="import" href="../polymer-github-markdown/polymer-github-markdown.html">
<link rel="import" href="../polymer-figure/polymer-figure.html">

<!-- ELEMENT -->
<polymer-element name="polymer-note" attributes="uid mode body name" on-dblclick="{{ onDoubleClick }}">

	<template>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="./css/reset.css">
		<link rel="stylesheet" href="./css/styles.css">
		<link rel="stylesheet" href="./css/font-awesome.css">

		<!-- PRESENTATION CONTENT -->
		<h3 class="heading" id="heading">
			<ul class="right">
				<li>
					<i class="icon icon-cancel" on-click="{{ onRemoveIconClick }}"></i>
				</li>
			</ul>
			<i class="icon-angle-right"></i>
			<span contenteditable="true">{{ name }}</span>
		</h3>
		<div class="bar">
			<span class="progress lang-{{ mode }}"></span>
		</div>
		<polymer-editor class="editor" id="editor" body="{{ body }}" hidden?="{{ hideEditor }}"></polymer-editor>
		<div id="output"></div>

	</template>

	<!-- REGISTRATION -->
	<script src="./js/script.js"></script>

</polymer-element>
