<!--
	POLYMER-NOTEBOOK

	DESCRIPTION:
		- `polymer-notebook` is a UI element for creating and managing notes.

	EXAMPLE:
		<polymer-notebook id="notebook"></polymer-notebook>
		...
		var nb = this.$.notebook;

	@element polymer-notebook
	@status unstable
-->

<!-- POLYMER -->
<link rel="import" href="../../bower/polymer/polymer.html">

<!-- COMPONENTS -->
<link rel="import" href="../../bower/polymer-uuid/polymer-uuid.html">
<link rel="import" href="../polymer-note/polymer-note.html">
<link rel="import" href="../polymer-topical/polymer-topical.html">

<!-- ELEMENT -->
<polymer-element name="polymer-notebook" attribute="notes">

	<template>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="./css/reset.css">
		<link rel="stylesheet" href="./css/styles.css">

		<!-- PRESENTATION CONTENT -->
		<template repeat="{{ note in notes }}">
			<polymer-note class="note" uid="{{ note.uid }}" mode="{{ note.mode }}" name="{{ note.name }}" body="{{ note.body }}" on-removenote="{{ onRemoveNote }}"></polymer-note>
		</template>

	</template>

	<!-- REGISTRATION -->
	<script src="./js/script.js"></script>

</polymer-element>
