<!--
	POLYMER-NAV-BAR

	DESCRIPTION:
		- `polymer-nav-bar` is a UI element providing top-level application navigation.

	EXAMPLE:
		<polymer-nav-bar id="nav" theme="indigo"></polymer-nav-bar>
		...
		var nav = this.$.nav;

	@element polymer-nav-bar
	@status unstable
-->

<!-- POLYMER -->
<link rel="import" href="../../bower/polymer/polymer.html">

<!-- ELEMENT -->
<polymer-element name="polymer-nav-bar">

	<template>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="./css/reset.css">
		<link rel="stylesheet" href="./css/font-awesome.css">
		<link rel="stylesheet" href="./css/styles.css">

		<!-- PRESENTATION CONTENT -->
		<nav class="nav" id="nav">
			<ul class="right">
				<li>
					<i class="icon" on-click=""><span class="flush icon-plus"></span><span class="flush smaller pushed-up icon-down-dir"></i>
				</li>
			</ul>
		</nav>

	</template>

	<!-- REGISTRATION -->
	<script src="./js/script.js"></script>

</polymer-element>
