<!--
	POLYMER-NAV-BAR

	DESCRIPTION:
		- `polymer-nav-bar` is a UI element providing top-level application navigation.

	EXAMPLE:
		<polymer-nav-bar id="nav" theme="indigo"></polymer-nav-bar>
		...
		var nav = this.$.nav;

	@element polymer-nav-bar
	@status unstable
-->

<!-- POLYMER -->
<link rel="import" href="../../bower/polymer/polymer.html">

<!-- COMPONENTS -->
<link rel="import" href="../polymer-topical/polymer-topical.html">

<!-- ELEMENT -->
<polymer-element name="polymer-nav-bar">

	<template>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="./css/reset.css">
		<link rel="stylesheet" href="./css/font-awesome.css">
		<link rel="stylesheet" href="./css/styles.css">

		<!-- PRESENTATION CONTENT -->
		<nav class="nav" id="nav">
			<ul class="right">
				<li class="dropdown-menu" id="createIcon">
					<a href="#" on-click="{{ onCreateIconClick }}"><i class="icon"><span class="flush icon-plus"></span><span class="flush smaller pushed-up icon-down-dir"></i></a>
					<ul class="dropdown">
						<li>
							<a href="#" on-click="{{ onCreateMarkdownClick }}">Markdown</a>
						</li>
						<li>
							<a href="#" on-click="{{ onCreateJavaScriptClick }}">JavaScript</a>
						</li>
						<li>
							<a href="#" on-click="{{ onCreateNotebookClick }}">Notebook</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>

	</template>

	<!-- REGISTRATION -->
	<script src="./js/script.js"></script>

</polymer-element>
