<!--
	POLYMER-EDITOR

	DESCRIPTION:
		- `polymer-editor` provides a code editor.

	EXAMPLE:
		<polymer-editor id="editor"></polymer-editor>
		...
		var editor = this.$.editor;

	@element polymer-editor
	@status unstable
-->

<!-- POLYMER -->
<link rel="import" href="../../bower/polymer/polymer.html">

<!-- ELEMENT -->
<polymer-element name="polymer-editor" attributes="body mode">

	<template>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="./css/reset.css">
		<link rel="stylesheet" href="./css/styles.css">

		<!-- PRESENTATION CONTENT -->
		<div class="editor" id="editor"></div>

	</template>

	<!-- REGISTRATION -->
	<script src="./js/script.js"></script>

</polymer-element>
