:host {
	display: block;

	font-family: 'dejavu_sans_monobook', 'Menlo', monospace, sans-serif;
	font-size: 16px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.editor,
.print,
.markdown {
	width: 100%;
	height: auto;

	border: 1px solid;
	border-color: #eee;
	border-radius: 5px;
}

.editor {
	min-height: 200px;
}

.print,
.markdown {
	margin-top: 15px;
}

.print {
	padding: 10px;
}

.markdown {
	padding: 30px;
}
