*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: block;

	margin-top: 70px; /* nav-bar height + some */

	width: 100%;
	height: 100%;
}

.nav-bar {
	z-index: 10;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 2%;
	padding-left: 2%;

	border-bottom: 1px solid;
	border-color: #E5E5E5;
}

.notebook,
.footer {
	width: 100%;
	min-width: 200px;
	max-width: 790px;

	margin: 0 auto;
}

.notebook {
	height: auto;
	min-height: 100%;

	padding-bottom: 60px;
}

.footer {
	position: relative;

	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;

	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;

	font-size: 12px;
	line-height: 18px;

	color: #777;

	border-top: 1px solid;
	border-color: #eee;
}

