
/* Theme: indigo */

.indigo {
	background-color: #3F51B5;
}


/* Theme: deep-orange */

.deep-orange {
	background-color: #FF5722;
}


/* Theme: light-blue */

.light-blue {
	background-color: #03A9F4;
}

/* Theme: white */

.white {
	background-color: #FFFFFF;
}

/* Theme: dark-gray */

.dark-gray {
	background-color: #474747;
}

/* Theme: light-gray */

.light-gray {
	background-color: #F5F5F5;
}


/* TODO: more themes */
