<!--
	POLYMER-PRINT

	DESCRIPTION:
		- `polymer-print` is a UI element for printing results.

	EXAMPLE:
		<polymer-print id="print" body="1e4"></polymer-print>
		...
		var print = this.$.print;

	@element polymer-print
	@status unstable
-->

<!-- POLYMER -->
<link rel="import" href="../../bower/polymer/polymer.html">

<!-- ELEMENT -->
<polymer-element name="polymer-print" attributes="body">

	<template>

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="./css/reset.css">
		<link rel="stylesheet" href="./css/styles.css">

		<!-- PRESENTATION CONTENT -->
		<div class="content" id="content">{{ body }}</div>

	</template>

	<!-- REGISTRATION -->
	<script src="./js/script.js"></script>

</polymer-element>
