
/* Theme: indigo */

.indigo {
	background-color: #3F51B5;
}


/* Theme: deep-orange */

.deep-orange {
	background-color: #FF5722;
}


/* Theme: light-blue */

.light-blue {
	background-color: #03A9F4;
}


/* TODO: more themes */
